name: input test
on:
  workflow_call:
    inputs:
      logLevel:
        description: Log level
        required: false
        type: string
      some_number:
        description: Some number
        required: false
        type: number
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      LOG_LEVEL: ${{ inputs.logLevel }}
    steps:
      - name: Run a one-line script
        run: |
          set -xeuo pipefail
          echo -e "Hello, ${LOG_LEVEL}\nSome number: ${{ inputs.some_number }}\n\n"
          # env | sort
          if [[ -n "${LOG_LEVEL}" ]]; then
            case "${LOG_LEVEL}" in
              debug)
                echo "Debug mode"
                ;;
              info)
                echo "Info mode"
                ;;
              warn)
                echo "Warning mode"
                ;;
              error)
                echo "Error mode"
                ;;
              *)
                echo "Unknown mode"
                ;;
            esac
          fi
      - name: Run another one-line script
        continue-on-error: true
        run: |
          echo "GitHub repo ${{ github.repository }}"
